		<h1 class="highlighted" id="page-title">All Contacts<h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
    	<a href="/contacts/<%= contact.id%>">
    	<%= contact.first_name %> <%= contact.last_name %>
    	</a>

    	<%= contact.email%> <%= contact.note%>
		<form action="/contacts/<%= contact.id %>" method="post">
		  <input type="hidden" name="_method" value="delete">
		  <input type="submit" value="Delete">
		</form>

    <a href="/contacts/<%= contact.id %>/edit">
      <button>Edit</button>
    </a>
    </li>

  <% end %>
</ul>

<li><a href="/contacts/new">Add contact</a></li>
	